/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* COLORS
white text e2e3ed
header/footer dark grey 202322
form/social icons/mission light forest green 527158
hero brown 5a4e3d
features dk brown 282118
review dk green 2a423a

NOTES
Tags to revisit: PLACEHOLDER, DBLCHECK, solution,
 */

 html {
   color: #e2e3ed; /* PLACEHOLDER */
 }
/* Base HEADER and FOOTER Styles */
.content-wrapper {
  width: 90%;
  margin: 40px 0; /* solution says 50px, but all <h > and <p> default margins add ~16px, and reducing this is simpler for now. Stripping h and p of margins means having to add them back in. */
}
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #202322;
}
header a {
  /* DBLCHECK causes asymmetry of logo */
  padding: 15px 0 10px 0;
}
header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 120px;
  margin: 0;
}
.header-divider {
  width: 100%;
  height: 1px;
  background: #e2e3ed;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  /* flex-flow: row wrap; seems unnecessary as nav only has one block item (ul) within it. */
}
header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  width: 100%;
}
footer .content-wrapper {
  width: 55%;
  margin: 30px 0;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-flow: row wrap;
}
.contact, .social {
  text-align: center;
  width: 200px;
}
/* code below seems unnecessary. Text align takes care of <h4>*/

.social {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #527158; /* PLACEHOLDER */
  width: 200px;
}
.copyright {
  text-align: center;
  width: 100%;
}
/* HOMEPAGE  */

.hero-area {
  display: flex;
  justify-content: center;
  background: #5a4e3d; /* PLACEHOLDER */
}
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #527158;
}
aside .content-wrapper {
  margin-top: 30px;
}
.form input{
  width: 90%;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282118; /* PLACEHOLDER */
}
.features .content-wrapper {
  margin-bottom: 25px;
}
.features-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.fontawesome-icon, .features-item-description {
  margin: 0 auto;
  /* try this. might need to make <article> into flex container instead */
}
.features-items article {
  width: 65%;
  text-align: center;
  margin: 25px 0;
}
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a423a;
}

/* ABOUT PAGE */

.mission, .map, .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission {
  background: #527158;
}
.map {
  background: #dbc59a;
}
.contact-section {
  background: #2a423a;
}

/* FAQ PAGE */

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #527158;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* TABLET STYLES GO HERE */
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }
  header .content-wrapper {
    justify-content: space-between;
    height: 95px;
  }
  .header-divider {
    display: none;
  }
  header nav {
    width: 20%;
  }
  aside .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }
  .form-description, .form {
    width: 45%;
  }
  .features-items article {
    width: 50%;
  }
  .features-item-description {
    width: 50%;
  }
  .reviews article {
    display: flex;
    justify-content: space-between;
  }
  .reviews article div {
    width: 45%;
  }
  footer .content-wrapper {
    width: 70%;
    margin: 100px 0;
  }
  .footer-content {
    justify-content: space-between;
  }

  /* ABOUT - TABLET */
  .mission-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .mission-content p {
    width: 47%;
  }
  .contact-section .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .contact-section h2 {
    width: 100%;
  }
  .contact-content {
    width: auto;
  }

  /* FAQ TABLET */
  .faq .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .faq h2 {
    width: 100%;
  }
  .faq-content {
    width: 47%;
  }
}

@media only screen and (min-width: 1200px) {
  /* DESKTOP STYLES GO HERE */
  .content-wrapper {
    max-width: 960px;
  }
  .hero-area h1 {
    width: 680px;
  }
  aside .content-wrapper {
    max-width: 800px;
  }
  .form-description, .form {
    width: 40%;
  }
  footer .content-wrapper {
    width: 70%;
  }
  .features-items article {
    width: 33%;
  }
  .features-item-description {
    width: 50%;
  }
  /* This was styled for desktop:
    aside .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap
  }
   */



}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
